<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Customer</title>
</head>
<body>
<h1>This is Add Customer Page</h1>
<!--Customer--》MaintainCustomersPage-->
<form th:action="@{/MaintainCustomersPage/add}" method="POST" th:object="${customer}">
    <div>
        <label for="name">Customer Name</label>
        <input type="text" th:field="*{name}" id="name" name="name">

        <label for="tel">Customer Telephone Number</label>
        <input type="text" th:field="*{tel}" id="tel" name="tel">

        <label for="addr">Customer Address</label>
        <input type="text" th:field="*{addr}" id="addr" name="addr">

        <label for="email">Customer Email</label>
        <input type="text" th:field="*{email}" id="email" name="email">

    </div>
    <div th:text="${FieldEmptyErr}"></div>
    <div>
        <button type="submit">Confirm</button>
    </div>
</form>
<form th:action="@{/MaintainCustomersPage}">
    <button type="submit">Cancel</button>
</form>
</body>
</html>
