<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h1>This is Admin Home Page</h1>
    <a th:href="@{/MaintainServicesPage}">Go to Maintain Services page</a>
    <a th:href="@{/MaintainOrdersPage}">Go to Maintain Orders page</a>
    <a th:href="@{/MaintainCustomersPage}">Go to Maintain Customers File page</a>
</body>
</html>