<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Groomer</title>
</head>
<body>
<h1>Edit Groomer</h1>
<form th:action="@{/Groomer/edit}" method="POST" th:object="${oldGroomer}">
    <div>
        <label for="GroomerName">Groomer Name</label>
        <input type="text" th:field="*{GroomerName}" id="GroomerName" name="GroomerName">

        <label for="email">Email</label>
        <input type="text" th:field="*{email}" id="email" name="email">

        <label for="phoneNumber">Phone Number</label>
        <input type="text" th:field="*{phoneNumber}" id="phoneNumber" name="phoneNumber">

        <!-- fake data type foe availability-->
        <label for="availability">Availability</label>
        <input type="text" th:field="*{availability}" id="availability" name="availability">

        <label for="ranking">Ranking</label>
        <input type="text" th:field="*{ranking}" id="ranking" name="ranking">

        <label for="groomerService">Service provided</label>
        <input type="text" th:field="*{groomerService}" id="groomerService" name="groomerService">
    </div>


<div th:text="${FieldEmptyErr}"></div>
<!-- <div th:text="${DuplicateNameErr}"></div> -->

<div>
    <button type="submit">Save</button>
</div>
</form>


<form th:action="@{/MaintainGroomerPage}">
    <button type="submit">Cancel</button>
</form>
</body>
</html>

