<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Maintain Services Page</title>
</head>
<body>
    <h1>This is Maintain Services Page</h1>
    <h2>Services:</h2>
    <table>
        <thead>
        <tr>
            <th>Service name</th><th>Service info</th><th>Price</th><th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="SvLst : ${ServceList}">
            <td th:text="${SvLst.name}"></td>
            <td th:text="${SvLst.info}"></td>
            <td th:text="${SvLst.price}"></td>
            <td><a th:href="@{/Service/edit/{id}(id=${SvLst.id})}">Edit Service</a></td>
        </tr>
        </tbody>
    </table>
    <div><a th:href="@{/Service/add}">Add Service</a></div>

    <h2>Discounts:</h2>
    <table>
        <thead>
        <tr>
            <th>Discount Info</th><th>Discount Condition</th><th>Price</th><th>Time limit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="Dislst : ${DiscountList}">
            <td th:text="${Dislst.info}"></td>
            <td th:text="${Dislst.cond}"></td>
            <td th:text="${Dislst.price}"></td>
            <td th:text="${Dislst.timelmt}"></td>
            <td><a th:href="@{/Discount/edit/{id}(id=${Dislst.id})}">Edit Discount</a></td>
        </tr>
        </tbody>
    </table>
    <div><a th:href="@{/Discount/add}">Add Discount</a></div>

    <h2>Upsellings:</h2>
    <table>
        <thead>
        <tr>
            <th>Upselling Info</th><th>Upselling Condition</th><th>Upselling Contant</th><th>Price</th><th>Time limit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="Uplst : ${UpsellList}">
            <td th:text="${Uplst.info}"></td>
            <td th:text="${Uplst.cond}"></td>
            <td th:text="${Uplst.cont}"></td>
            <td th:text="${Uplst.price}"></td>
            <td th:text="${Uplst.timelmt}"></td>
            <td><a th:href="@{/Upsell/edit/{id}(id=${Uplst.id})}">Edit Upselling</a></td>
        </tr>
        </tbody>
    </table>
    <div><a th:href="@{/Upsell/add}">Add Upselling</a></div>


    <div><a th:href="@{/Admin}">Back</a></div>
</body>
</html>
