<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order List</title>
</head>
<body>
<h1>Order List</h1>
<form id="status-form" method="post" action="/orders/filter">
    <label for="status">Order Status:</label>
    <select id="status" name="status" onchange="filterOrders()">
        <option value="All" th:selected="${status eq 'all'}">All</option>
        <option value="Booked" th:selected="${status eq 'Booked'}">Booked</option>
        <option value="In_progress" th:selected="${status eq 'In_progress'}">In Progress</option>
        <option value="Completed" th:selected="${status eq 'Completed'}">Completed</option>
    </select>
</form>
<br>

<p>
    <input type="button" class="button" value="Add" onclick="location.href='/MaintainOrdersPage/toAdd'"/>
</p>

<th:block th:if="${orderList.size() >= 0}">
    <table>
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer Name</th>
            <th>Groomer Name</th>
            <th>Pet Name</th>
            <th>Service Type</th>
            <th>Cost</th>
            <th>Book Time</th>
            <th>Order Status</th>
            <th>Operate</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orderList}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.customer}"></td>
            <td th:text="${order.groomer}"></td>
            <td th:text="${order.pet}"></td>
            <td th:text="${order.service}"></td>
            <td th:text="${order.cost}"></td>
            <td th:text="${order.booktime}"></td>
            <td th:text="${order.orderstatus}"></td>
            <td>
                <!-- eq 相等 -->
                <!-- 当状态为Completed和Cancel时三个button都不可用 -->
                <th:block th:if="${order.orderstatus eq 'Completed' or order.orderstatus eq 'Cancel' }">
                    <button type="button" disabled="disabled">Start</button>
                    <button type="button" disabled="disabled">Complete</button>
                    <button type="button" disabled="disabled">Cancel</button>
                </th:block>
                <!-- ne 不相等 -->
                <th:block th:if="${order.orderstatus ne 'Completed' and order.orderstatus ne 'Cancel'}">
                    <button type="button" th:onclick="|Start(${order.id})|"
                            th:disabled="${order.orderstatus eq 'In_progress' and order.orderstatus eq 'Completed'}">Start
                    </button>
                    <button type="button" th:onclick="|Complete(${order.id})|"
                            th:disabled="${order.orderstatus eq 'Completed' and order.orderstatus eq 'Booked'}">Complete
                    </button>
                    <button type="button" th:onclick="|Cancel(${order.id})|"
                    th:disabled="${order.orderstatus eq 'Completed'}">Cancel
                    </button>
                </th:block>
            </td>
        </tr>
        </tbody>
    </table>
</th:block>

<th:block th:if="${orderList.size() == 0}">
    <p>No order.</p>
</th:block>

<div><a th:href="@{/Admin}">Back</a></div>

<script>
    //filter by status
    function filterOrders() {
        var status = document.getElementById("status").value;
        location.href = '/MaintainOrdersPage?status=' + status;
    }
    //update status to In_progress by id
    function Start(id) {
        location.href = '/MaintainOrdersPage/updateStatus?id=' + id + '&status=In_progress';
    }
    //update status to Completed by id
    function Complete(id) {
        location.href = '/MaintainOrdersPage/updateStatus?id=' + id + '&status=Completed';
    }
    //cancel order by id
    function Cancel(id) {
        if (confirm("Confirm Cancel ?") == true) {
            location.href = '/MaintainOrdersPage/delete?id=' + id;
        }
    }

</script>
</body>
</html>

