<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Maintain Customer File Page</title>
</head>
<body>
<h1>This is a Maintain Customer File Page</h1>
<!--改进，加上这个-->
<form th:action="@{/MaintainCustomersPage}" method="GET" th:object="${customer}">

<h2>Customers:</h2>
<table>
    <thead>
    <tr>
        <th>Customer Name</th><th>Customer TelNumber</th><th>Customer Address</th><th>Customer Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="Cuslst : ${CustomerList}">
        <td th:text="${Cuslst.name}"></td>
        <td th:text="${Cuslst.tel}"></td>
        <td th:text="${Cuslst.addr}"></td>
        <td th:text="${Cuslst.email}"></td>
        <td><a th:href="@{/MaintainCustomersPage/edit/{id}(id=${Cuslst.id})}">Edit Customer</a></td>
    </tr>
    </tbody>
</table>
<div><a th:href="@{/MaintainCustomersPage/add}">Add new Customer</a></div>


<div><a th:href="@{/Admin}">Back</a></div>
</body>
</html>
