<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Maintain Groomer File</title>
</head>
<body>
    <h1>Maintain Groomer</h1>
    <form th:action="@{/MaintainGroomerPage}" method="GET" th:object="${groomer}"> 
        <!--Add action-->
    <h2>Groomer</h2>
    <table>
        <thead>
        <tr>
            <th>Groomer name</th><th>Email</th><th>Tel</th><th>Availability</th><th>Ranking</th><th>Service provided</th><th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="Groomer : ${GroomerList}"> <!--unassign Customerlist in service-->
            <td th:text="${Groomer.GroomerName}"></td>
            <td th:text="${Groomer.email}"></td>
            <td th:text="${Groomer.phoneNumber}"></td>
            <td th:text="${Groomer.availability}"></td>
            <td th:text="${Groomer.ranking}"></td>
            <td th:text="${Groomer.groomerService}"></td>
            <!-- <td><a th:href="@{/Groomer/edit/{id}(id=${GroomerList.id})}">Edit</a></td> -->
            <!-- <td><a th:href="@{'/Groomer/edit/' + ${GroomerId}}">Edit</a></td> -->
            <!-- <td><a th:href="@{/Service/edit/{id}(id=${SvLst.id})}">Edit Service</a></td> -->
        </tr>
        </tbody>
    </table>
    <div><a th:href="@{/Groomer/add}">Add New Groomer</a></div>

    <div><a th:href="@{/Admin}">Back</a></div>
</body>
</html>
