<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Groomers Page</title>
</head>
<body>
    <h1>Please choose a groomer for your pet</h1>
            <form th:action="@{/AvailableGroomers/list}" method="POST">
                <p>
                    <input type="checkbox" name="Groomers"
                    th:each="Groomer : ${Groomers}"
                    th:value="${Groomer.GroomerName}"
                    th:text="${Groomer.GroomerName}"
                    />
                </p>
                <div th:text="${ChoosedEmptyErr}"></div>
                <div th:text="${OrderErr}"></div>
                <div>
                    <button type="submit">Confirm</button>
                </div>
                
            </form>
            <form th:action="@{/MakeAppointment}">
                
                <div>
                    <button type="submit">Back</button>
                </div>
            </form>
    <table>
        <thead>
            <tr>
                <th>Groomer Name</th><th>Phone Number</th><th>Email</th><th>Ranking</th>
            </tr>  
        </thead>
        <tbody>
            <tr th:each="Groomer : ${Groomers}">
                <td th:text="${Groomer.GroomerName}"></td>
                <td th:text="${Groomer.phoneNumber}"></td>
                <td th:text="${Groomer.email}"></td>
                <td th:text="${Groomer.ranking}"></td>
            </tr>
        </tbody>
    </table>
    
</body>

</html>