<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Services Page</title>
</head>
<body>
    <h1>Please choose a service for your pet</h1>
            <form th:action="@{/Service/list}" method="POST">
            <!-- <form th:action="@{/Service/list}" th:object="${Services}" method="POST"> -->
                <p>
                    <input type="checkbox" name="Services"
                    th:each="Service : ${Services}"
                    th:value="${Service.name}"
                    th:text="${Service.name}"
                    />
                </p>
                <div th:text="${ChoosedEmptyErr}"></div>
                
                <div>
                    <button type="submit">Confirm</button>
                </div>
                
                
            </form>
            <form th:action="@{/MakeAppointment}">
                
                <div>
                    <button type="submit">Back</button>
                </div>
            </form>
    <table>
        <thead>
            <tr>
                <th>Service Name</th><th>Information</th><th>Price</th>
            </tr>  
        </thead>
        <tbody>
            <tr th:each="Service : ${Services}">
                <td th:text="${Service.name}"></td>
                <td th:text="${Service.info}"></td>
                <td th:text="${Service.price}"></td>
            </tr>
        </tbody>
    </table>
    
</body>

</html>