<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Make Appointment Page</title>
</head>
<body>
    <h1>Make an appointment for your pet</h1>
    <h2>Choose a service:</h2>
    <a th:href="@{/Service/list}">Click here to view all services</a>
    <h3>The sercive you choose:</h3>
    <table>
        
        <tbody>
            <tr th:each="choosedsev: ${choosedservice}">
                <td th:text="${choosedsev.id}"></td>
                <td th:text="${choosedsev.name}"></td>
            </tr>
        </tbody>
    </table>
    
    
    <h2>Choose a groomer:</h2>
    <a th:href="@{/AvailableGroomers/list}">Click here to view available groomers</a>
    <h3>The groomer you choose:</h3>
        <table>
        
            <tbody>
                <tr th:each="choosedgro: ${choosedGroomer}">
                    <td th:text="${choosedgro.id}"></td>
                    <td th:text="${choosedgro.name}"></td>
                </tr>
            </tbody>
        </table>
    <div>
        <br/><br/>
        <a th:href="@{/}">Go to HomePage</a>
    </div>
    
</body>

</html>