<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personal Information</title>
</head>
<body>
    <h1>This is Personal Information Page</h1>
    <form th:action="@{/personInfo/edit}" method="POST" th:object="${personInfo}">
        <div>
            <label for="nickname">Nickname</label>
            <input type="text" th:field="*{nickname}" id="nickname" name="nickname">

            <label for="phoneNum">Phone number</label>
            <input type="text" th:field="*{phoneNum}" id="phoneNum" name="phoneNum">

            <label for="location">Location</label>
            <input type="text" th:field="*{location}" id="location" name="location">

            <label for="email">Email</label>
            <input type="text" th:field="*{email}" id="email" name="email">
        </div>
        <div th:text="${FieldEmptyErr}"></div>
        <div>
            <button type="submit">Confirm</button>
        </div>
    </form>
</body>
</html>