<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h1>This is Home Page</h1>
    <h2>Services:</h2>
    <table>
        <thead>
        <tr>
            <th>Service name</th><th>Service info</th><th>Price</th><th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="SvLst : ${ServceList}">
            <td th:text="${SvLst.name}"></td>
            <td th:text="${SvLst.info}"></td>
            <td th:text="${SvLst.price}"></td>
        </tr>
        </tbody>
    </table>

    <h2>Discounts:</h2>
    <table>
        <thead>
        <tr>
            <th>Discount Info</th><th>Discount Condition</th><th>Price</th><th>Time limit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="Dislst : ${DiscountList}">
            <td th:text="${Dislst.info}"></td>
            <td th:text="${Dislst.cond}"></td>
            <td th:text="${Dislst.price}"></td>
            <td th:text="${Dislst.timelmt}"></td>
        </tr>
        </tbody>
    </table>

    <h2>Upsellings:</h2>
    <table>
        <thead>
        <tr>
            <th>Upselling Info</th><th>Upselling Condition</th><th>Upselling Contant</th><th>Price</th><th>Time limit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="Uplst : ${UpsellList}">
            <td th:text="${Uplst.info}"></td>
            <td th:text="${Uplst.cond}"></td>
            <td th:text="${Uplst.cont}"></td>
            <td th:text="${Uplst.price}"></td>
            <td th:text="${Uplst.timelmt}"></td>
        </tr>
        </tbody>
    </table>

    <h2>Customers:</h2>
    <table>
        <thead>
        <tr>
            <th>Customer Name</th><th>Customer TelNumber</th><th>Customer Address</th><th>Customer Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="Cuslst : ${CustomerList}">
            <td th:text="${Cuslst.name}"></td>
            <td th:text="${Cuslst.tel}"></td>
            <td th:text="${Cuslst.addr}"></td>
            <td th:text="${Cuslst.email}"></td>
        </tr>
        </tbody>
    </table>

</body>
</html>